<html>
  <head>
    <title>The Bookmark Manager</title>
  </head>

  <body>
    <% if flash[:errors] && !flash[:errors].empty? %>
      <h4>Something went wrong:</h4>
      <ul id="erroes">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <% if current_user %>
      <h1>Welcome, <%= @current_user.user_name  %>!</h1>

    <% end %>

    <%= yield %>
  </body>

</html>
