<html>
  <head>
    <title>The Bookmark Manager</title>
  </head>

  <body>
    <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>

    <% end %>

    <% if current_user %>
      <h1>Welcome, <%= @current_user.user_name  %>!</h1>

    <% end %>

    <%= yield %>
  </body>

</html>
