<html>
  <head>
  </head>

  <body>
    <ul id="links">
      <% @links.each do |link| %>
      <li>
        title: <%= link.title %>
        url: <%= link.url %>

        <% if !link.tags.empty? %>
          <% tag_names = [] %>
          <% link.tags.each { |tag| tag_names << tag.name }%>
        tags: <%= tag_names.join(", ") %>
        <% end %>

      </li>
      <% end %>
    </ul>

    <a  href="/links/new">New</a>
  </body>
</html>
