<html>
  <head>
  </head>

  <body>
    <form action="/links" method="post">
      <label for="title">Title: </label><input type="text" name="title" placeholder="enter title" >
      <label for="url">URL: </label><input type="text" name="url" placeholder="enter URL" >
      <label for="tag">Tag: </label><input type="text" name="tag" placeholder="tags" >
      <button value="Add Link" type="submit" >Add Link</button>
    </form>
  </body>
</html>
